# Utility functions

In [3]:
from util import *
import os
import glob
path_data = os.getcwd()  + "/data/"
# path_data = "C:\\Users\\rh\\Desktop\\data\\datasets\\"

In [4]:
ls

2023_7_28_digraphwave_WIOD2013_FIN.ipynb  2023_8_11_Data.ipynb  __pycache__/
2023_7_28_LongrunWIOD_FIN.ipynb           data/                 README.md
2023_7_29_digraphwave_WIOD2016.ipynb      external/             util.py

# Set directory

In [9]:
name2file_name = dict()
name2file_name.update({"blogcatalog"            :path_data + "blogcatalog.mat",
                       "homosapiens"            :path_data + "Homo_sapiens.mat",
                       "wikipos"                :path_data + "POS.mat",
                       "enron"                  :path_data + "enron/",
                       "unvote"                 :path_data + "UNvote/",    
                       "untrade"                :path_data + "UNtrade/",
                       "uslegis_net"            :path_data + "congress-bills-full-proj-graph/",
                       "uslegis_net_small_dyn"  :path_data + "USLegis/",
                       "uslegis_net_dyn"        :path_data + "congress-bills/",
                       "uslegis_hyp_dyn"        :path_data + "congress-bills_hyp/",
                       "contacts"               :path_data + "Contacts/",
                       "dawn_net"               :path_data + "DAWN-proj-graph/",
                       "dawn_hyp"               :path_data + "DAWN/",
                       
                       "ndc_net"                :path_data + "NDC-substances-full-proj-graph/",
                       "ndc_hyp"                :path_data + "NDC-substances-full/",
                       "coauth_dblp_net"         :path_data + "coauth-DBLP-full-proj-graph/",
                       "coauth_dblp_hyp"        :path_data + "coauth-DBLP-full/",

                       "wiod2016"               :path_data + "WIOD2016/",
                       "wiod2013"               :path_data + "WIOD2013/",
                       "wiodlong"               :path_data + "LongrunWIOD/",
                       "eth"                    :path_data + "eth/",
                       "bitcoinalpha"           :path_data,
                       "bitcoinotc"             :path_data,
                       
                       
                       "uscourt"               :path_data,        
                       
                      })

In [10]:
#name = "blogcatalog" # CHECKED
#name = "homosapiens" # CHECKED
#name = "wikipos" # CHECKED
#name = "enron" # CHECKED
#name = "unvote" # CHECKED
#name = "untrade" # CHECKED
#name = ""uslegis_net"
#name = ""uslegis_net_small_dyn"  # CHECKED
#name = "uslegis_net_dyn"  # CHECKED
#name = "uslegis_hyp_dyn" 
#name = "contacts" 
#name = "dawn_net"
#name = "dawn_hyp"
#name = "ndc_net"
#name = "ndc_hyp"

#name = "coauth_dblp_net"
#name = "coauth_dblp_hyp"
#name = "wiod2016"
#name = "wiod2013"
#name = "wiodlong"
#name = "eth"

name = "bitcoinalpha"
name = "bitcoinotc"
name = "uscourt"
file_name = name2file_name[name]
print(file_name)

/home/rh/Arbeitsraum/bitbucket/share/SLMI2/data/

In [11]:
original_format = True
data_dict = dict()
import hypernetx as hnx
import matplotlib.pyplot as plt
#H = hnx.Hypergraph(hyper_dict)

In [12]:
cd /home/rh/Arbeitsraum/bitbucket/share/SLMI2/data/

/home/rh/Arbeitsraum/bitbucket/share/SLMI2/data

In [13]:
ls

blogcatalog.mat                  NDC-substances-full/
coauth-DBLP-full/                NDC-substances-full-proj-graph/
coauth-DBLP-full-proj-graph/     POS.mat
congress-bills/                  soc-sign-bitcoinalpha.csv
congress-bills-full-proj-graph/  soc-sign-bitcoinotc.csv
congress-bills_hyp/              UNtrade/
Contacts/                        UNvote/
DAWN/                            us_court_500_edges.csv
DAWN-proj-graph/                 us_court_500_nodes.csv
enron/                           USLegis/
eth/                             WIOD2013/
Homo_sapiens.mat                 WIOD2016/
LongrunWIOD/

In [26]:
df_edges

        source   target  weight
0       109382  2186852       4
1       104321  1561296       3
2       112903  1561296       3
3      2430249  1561296       3
4      1713584  1561296       1
...        ...      ...     ...
36545   109935  1060945       1
36546   109532  1060945       1
36547   109533  1060945       1
36548   109535  1060945       1
36549   111092  1060945       1

[36550 rows x 3 columns]

In [27]:
df_nodes

         node  in_degree        date          name
0      111170      74369  1984-05-14  466 U.S. 668
1      111719      58659  1986-06-25  477 U.S. 242
2      110138      54792  1979-06-28  443 U.S. 307
3      107423      53308  1967-05-08  386 U.S. 738
4      111722      52774  1986-06-25  477 U.S. 317
...       ...        ...         ...           ...
3372   107736        500  1968-06-10  392 U.S. 219
3373   159430        500  2000-02-02      NotKnown
3374  1431594        500  1995-01-23  513 U.S. 364
3375   104234        500  1946-02-04  327 U.S. 114
3376   107187        500  1966-03-21  383 U.S. 413

[3377 rows x 4 columns]

In [23]:
df_nodes.columns = ["node","in_degree","date","name"]

In [19]:
df_edges.to_csv(name2file_name[name] + "us_court_500_edges.csv",index=False)

In [24]:
df_nodes.to_csv(name2file_name[name] + "us_court_500_nodes.csv",index=False)

In [ ]:

out_from,out_to = [],[]
for i in range(len(df_edges)):
    if df_edges["from"].iloc[i] in address2node:
        out_from.append(address2node[df_edges["from"].iloc[i]])
    else:
        out_from.append(0)
    
    if df_edges["to"].iloc[i] in address2node:
        out_to.append(address2node[df_edges["to"].iloc[i]])
    else:
        out_to.append(0)
        
df_edges["from_uni"] = out_from
df_edges["to_uni"] = out_to

CPU times: user 1min 7s, sys: 79.5 ms, total: 1min 7s
Wall time: 1min 7s

In [369]:
cond = (df_edges["from_uni"] != 0) & (df_edges["to_uni"] != 0)

In [382]:
df_tmp = df_edges.copy()

In [383]:
df_new = df_tmp[["from","to"]].copy()
df_new.columns = ["source","target"]

In [137]:
import pandas as pd
import networkx as nx
G = nx.from_pandas_edgelist(df_new, 'source', 'target')
# Get the largest connected component
largest_cc = max(nx.connected_components(G), key=len)
G_subgraph = G.subgraph(largest_cc).copy()

# Convert it back to a dataframe
df_new_2 = pd.DataFrame({
    'source': [edge[0] for edge in G_subgraph.edges()],
    'target': [edge[1] for edge in G_subgraph.edges()]
})

print(df_new)

                                            source  \
0                                          GENESIS
1                                          GENESIS
2                                          GENESIS
3                                          GENESIS
4                                          GENESIS
...                                            ...
144448  0x41843a392c834ddf23d8e94bb31efb7adfed81de
144449  0x441428454b614d2bb2782165ef1cee53da79dd93
144450  0x7ec24873660e61b915f2fe2040ec272d3c91c7c9
144451  0x7ec24873660e61b915f2fe2040ec272d3c91c7c9
144452  0xcaaebdfc5724541fcc3d2e75be44b926f3aebe59

                                            target
0       0x31d81d526c195e3f10b5c6db52b5e59afbe0a995
1       0x2d5d7335acb0362b47dfa3a8a4d3f5949544d380
2       0x7f46bb25460dd7dae4211ca7f15ad312fc7dc75c
3       0xf5437e158090b2a2d68f82b54a5864b95dd6dbea
4       0x276b0521b0e68b277df0bb32f3fd48326350bfb2
...                                            ...
144448  0xf132e7b168b0461a4b515b25c6da24d3207be54c
144449  0x1664e1ec01cc288a67068478ae9b9ee519f602ca
144450  0xb6da5582629fbd591eb00e49d902eed16426c82b
144451  0xf05ea6ea7416630c877fd4f73435691d1778a898
144452  0xb85141af6e497a508e60763a68560f2f710f83b2

[144453 rows x 2 columns]

In [ ]:
fi

In [72]:
        # Retrieve address unifer
        df_unifier = pd.read_csv(file_name  + "/all_ens_pairs.csv")
        address2node = dict()
        for i in range(len(df_unifier)):
            address2node.update({df_unifier["address"].iloc[i]:df_unifier["name"].iloc[i]})

        df_edges = pd.read_csv(file_name + "/raw_normal_txs.csv")
        #df_edges = pd.read_csv(file_name + "/raw_token_txs.csv")
        
        #cond = df_edges["value"] > 0
        #df_edges = df_edges.loc[cond].copy()

        df_edges["from_uni"] = df_edges["from"].map(address2node)
        df_edges["to_uni"] = df_edges["to"].map(address2node)

        df_edges_sub = df_edges.dropna(subset=['from_uni', 'to_uni'])

In [92]:
file_name

'/home/rh/Arbeitsraum/bitbucket/share/SLMI2/data/eth/'

In [93]:
cd /home/rh/Arbeitsraum/bitbucket/share/SLMI2/data/eth/

/home/rh/Arbeitsraum/bitbucket/share/SLMI2/data/eth

In [ ]:
df_edges.columns = ["source","target","weight","time"]

In [29]:
# 
def get_data(name,original_format=False):
    
    # Initialize dictionary for outputs
    data_dict = dict()
    
    # Source
    # https://github.com/GemsLab/PhUSION/tree/master,
    # https://github.com/xptree/NetMF
    if name == "blogcatalog":
        
        # Load the .mat file
        import scipy.io
        mat_data = scipy.io.loadmat(file_name)
        
        # Just return original data
        if original_format == True:
            data_dict.update({"mat_data":mat_data})
            
        else:
            # Get node label information
            matrix_label = mat_data["group"]
            
            # Nodes
            df_nodes = sparse_to_node_df(matrix_label)
            df_nodes.sort_values(by="node",ascending=True,inplace=True)

            # Edgelist
            df_edges = sparse_to_edge_list_df(mat_data["network"])
            df_edges.sort_values(by=["source","target"],ascending=[True,True],inplace=True)

            # Update
            data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})
            
    # Source
    # https://github.com/GemsLab/PhUSION/tree/master,
    # https://github.com/xptree/NetMF
    elif name == "homosapiens":
        
        # Load the .mat file
        import scipy.io
        mat_data = scipy.io.loadmat(file_name)
        
        # Just return original data
        if original_format == True:
            data_dict.update({"mat_data":mat_data})
            
        else:
            # Get node label information
            matrix_label = mat_data["group"]
            
            # Nodes
            df_nodes = sparse_to_node_df(matrix_label)
            df_nodes.sort_values(by="node",ascending=True,inplace=True)

            # Edgelist
            df_edges = sparse_to_edge_list_df(mat_data["network"])
            df_edges.sort_values(by=["source","target"],ascending=[True,True],inplace=True)

            # Update
            data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})

    # Source
    # https://github.com/GemsLab/PhUSION/tree/master,
    # https://github.com/xptree/NetMF
    elif name == "wikipos":
        
        # Load the .mat file
        import scipy.io
        mat_data = scipy.io.loadmat(file_name)
        
        # Just return original data
        if original_format == True:
            data_dict.update({"mat_data":mat_data})
            
        else:
            # Get node label information
            matrix_label = mat_data["group"]
            
            # Nodes
            df_nodes = sparse_to_node_df(matrix_label)
            df_nodes.sort_values(by="node",ascending=True,inplace=True)

            # Edgelist
            df_edges = sparse_to_edge_list_df(mat_data["network"])
            df_edges.sort_values(by=["source","target"],ascending=[True,True],inplace=True)

            # Update
            data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})
        
    elif name == "enron":
        
        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_enron_node.npy"
        #mat_1 = np.load(file_name_1)
        #file_name_2 = name2file_name[name] + "ml_enron.npy"
        #mat_2 = np.load(file_name_2)
        
        # Edge list
        file_name_3 = name2file_name[name] + "ml_enron.csv"
        df_edges = pd.read_csv(file_name_3)
        
        # Keep original format
        if original_format == True:
            pass
        # More human readable? format
        else:
            df_edges = df_edges[["idx","u","i","ts"]].copy()
            df_edges.columns = ["index","source","target","timestamp"]
            
        # Update
        data_dict.update({"df_edges":df_edges})
        
    elif name == "unvote":
        
        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_UNvote_node.npy"
        #mat_1 = np.load(file_name_1)
        
        # Edge Features
        file_name_2 = name2file_name[name] + "ml_UNvote.npy"
        edge_features = np.load(file_name_2)
        
        # Edges
        file_name_3 = name2file_name[name]  + "ml_UNvote.csv"
        df_edges = pd.read_csv(file_name_3)
        
        # Keep original format
        if original_format:
            data_dict.update({"edge_features":edge_features})
            data_dict.update({"df_edges":df_edges})
        # More human readable? format
        else:
            df_edges = df_edges[["idx","u","i","ts"]].copy()
            df_edges.columns = ["index","source","target","timestamp"]
            df_edges["weight"] = list(edge_features[1:,0])
            data_dict.update({"df_edges":df_edges})


    elif name == "untrade":
        
        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_UNtrade_node.npy"
        #mat_1 = np.load(file_name_1)
        
        # Edge Features
        file_name_2 = name2file_name[name] + "ml_UNtrade.npy"
        edge_features = np.load(file_name_2)
        
        # Edges
        file_name_3 = name2file_name[name]  + "ml_UNtrade.csv"
        df_edges = pd.read_csv(file_name_3)

        # Keep original format
        if original_format:
            data_dict.update({"edge_features":edge_features})
            data_dict.update({"df_edges":df_edges})
        # More human readable? format
        else:
            df_edges = df_edges[["idx","u","i","ts"]].copy()
            df_edges.columns = ["index","source","target","timestamp"]
            df_edges["weight"] = list(edge_features[1:,0])
            data_dict.update({"df_edges":df_edges})
            
    elif name == "uslegis_net":
        
        file_name_1 = name2file_name[name] + "congress-bills-full-node-labels.txt"
        df_nodes = pd.read_csv(file_name_1,sep="\t",header=None)
        df_nodes.columns = ["node","name"]
        
        file_name_2 = name2file_name[name] + "congress-bills-full-proj-graph.txt"
        df_edges = pd.read_csv(file_name_2,sep=" ",header=None)
        
        if original_format:
            df_edges.columns = ["i","j","w"]
        else:
            df_edges.columns = ["source","target","weight"]
            
        data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})      
        
        
    elif name =="uslegis_net_small_dyn":

        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_USLegis_node.npy"
        #mat_1 = np.load(file_name_1)
        
        # Edge feature
        file_name_2 = name2file_name[name] + "ml_USLegis.npy"
        edge_features = np.load(file_name_2)
        
        # Edge list
        file_name_3 = name2file_name[name]  + "ml_USLegis.csv"
        df_edges = pd.read_csv(file_name_3)
        
        # Keep original format
        if original_format:
            data_dict.update({"edge_features":edge_features})
            data_dict.update({"df_edges":df_edges})
        # More human readable? format
        else:
            df_edges = df_edges[["idx","u","i","ts"]].copy()
            df_edges.columns = ["index","source","target","timestamp"]
            df_edges["weight"] = list(edge_features[1:,0])
            data_dict.update({"df_edges":df_edges})

      
    elif name =="uslegis_net_dyn":
        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_congress-bills_node.npy"
        #mat_1 = np.load(file_name_1)
        # Edge feature
        #file_name_2 = name2file_name[name] + "ml_congress-bills.npy"
        #edge_features = np.load(file_name_2)
        
        # Edge list
        file_name_3 = name2file_name[name]  + "ml_congress-bills.csv"
        df_edges = pd.read_csv(file_name_3)
        
        # Keep original format
        if original_format:
            data_dict.update({"df_edges":df_edges})
        # More human readable? format
        else:
            df_edges = df_edges[["idx","u","i","ts"]].copy()
            df_edges.columns = ["index","source","target","timestamp"]
            data_dict.update({"df_edges":df_edges})
            
    
    elif name == "uslegis_hyp_dyn":
        file_head = "congress-bills"
        # node name
        file_name_1 = name2file_name[name] + file_head + "-node-labels.txt"
        with open(file_name_1,"r") as f:
            v1 = f.readlines()
        out = []
        for i in range(len(v1)):
            v2 = v1[i].strip("\n").split("\t")
            out.append([int(v2[0]),v2[1]])
        df_nodes = pd.DataFrame(out)
        df_nodes.columns = ["node","name"]
        
        
        hyper_simplices = dict()
        hyper_time = dict()
        
        file_name_2 = name2file_name[name] + file_head + "-nverts.txt"
        with open(file_name_2,"r") as f:
            vec_num = f.readlines()
            
        file_name_3 = name2file_name[name] + file_head + "-times.txt"
        with open(file_name_3,"r") as f:
            vec_times = f.readlines()       
            
        file_name_4 = name2file_name[name] + file_head + "-simplices.txt"
        with open(file_name_4,"r") as f:
            simplices = f.readlines()     

        cnt = 0
        for i in range(len(vec_num)):
                        
            num_vert = int(vec_num[i].strip("\n"))
            vec_tmp = simplices[cnt:cnt+num_vert]
            for j in range(len(vec_tmp)):
                vec_tmp[j] = int(vec_tmp[j].strip("\n"))
            hyper_simplices.update({i:vec_tmp})
            hyper_time.update({i:int(vec_times[i].strip("\n"))})
            cnt = cnt + num_vert
            
        data_dict.update({"df_nodes":df_nodes,"hyper_simplices":hyper_simplices,"hyper_time":hyper_time})
            
 
    elif name == "contacts":
        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_Contacts_node.npy"
        #mat_1 = np.load(file_name_1)
        
        # Edge Features
        file_name_2 = name2file_name[name] + "ml_Contacts.npy"
        edge_features = np.load(file_name_2)
        
        
        # Edges
        file_name_3 = name2file_name[name]  + "ml_Contacts.csv"
        df_edges = pd.read_csv(file_name_3)
        
         # Keep original format
        if original_format:
            data_dict.update({"edge_features":edge_features})
            data_dict.update({"df_edges":df_edges})
        # More human readable? format
        else:
            df_edges = df_edges[["idx","u","i","ts"]].copy()
            df_edges.columns = ["index","source","target","timestamp"]
            df_edges["weight"] = list(edge_features[1:,0])
            data_dict.update({"df_edges":df_edges})
            
    elif name == "coauth_dblp_net":
        
        file_name_1 = name2file_name[name] + "coauth-DBLP-full-node-labels.txt"
        with open(file_name_1,"r") as f:
            v1 = f.readlines()
        out = []
        for i in range(len(v1)):
            v2 = v1[i].strip("\n").split(" ")
            out.append([v2[0],"" .join(v2[1:])])
        df_nodes = pd.DataFrame(out)
        df_nodes.columns = ["node","name"]
        file_name_2 = name2file_name[name] + "coauth-DBLP-full-proj-graph.txt"
        df_edges = pd.read_csv(file_name_2,sep=" ",header=None)
        if original_format:
            df_edges.columns = ["i","j","w"]
        else:
            df_edges.columns = ["source","target","weight"]
            
        data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})   
       
    elif name == "coauth_dblp_hyp":
         
        file_head = "coauth-DBLP-full"
        # node name
        file_name_1 = name2file_name[name] + file_head + "-node-labels.txt"
        with open(file_name_1,"r") as f:
            v1 = f.readlines()
        out = []
        for i in range(len(v1)):
            v2 = v1[i].strip("\n").split(" ")
            out.append([v2[0]," ".join(v2[1:])])
        df_nodes = pd.DataFrame(out)
        df_nodes.columns = ["node","name"]

        hyper_simplices = dict()
        hyper_time = dict()
        
        file_name_2 = name2file_name[name] + file_head + "-nverts.txt"
        with open(file_name_2,"r") as f:
            vec_num = f.readlines()
            
        file_name_3 = name2file_name[name] + file_head + "-times.txt"
        with open(file_name_3,"r") as f:
            vec_times = f.readlines()       
            
        file_name_4 = name2file_name[name] + file_head + "-simplices.txt"
        with open(file_name_4,"r") as f:
            simplices = f.readlines()     
            
        cnt = 0
        for i in range(len(vec_num)):              
            num_vert = int(vec_num[i].strip("\n"))
            vec_tmp = simplices[cnt:cnt+num_vert]
            for j in range(len(vec_tmp)):
                vec_tmp[j] = int(vec_tmp[j].strip("\n"))
            hyper_simplices.update({i:vec_tmp})
            hyper_time.update({i:int(vec_times[i].strip("\n"))})
            cnt = cnt + num_vert
         
        data_dict.update({"df_nodes":df_nodes,"hyper_simplices":hyper_simplices,"hyper_time":hyper_time})
    
    elif name == "dawn_net":
        
        file_name_1 = name2file_name[name] + "DAWN-node-labels.txt"
        with open(file_name_1,"r") as f:
            v1 = f.readlines()
        out = []
        for i in range(len(v1)):
            v2 = v1[i].strip("\n").split(" ")
            out.append([v2[0],v2[1]," ".join(v2[2:])])
        df_nodes = pd.DataFrame(out)
        df_nodes.columns = ["node","name","description"]
        file_name_2 = name2file_name[name] + "DAWN-proj-graph.txt"
        df_edges = pd.read_csv(file_name_2,sep=" ",header=None)
        if original_format:
            df_edges.columns = ["i","j","w"]
        else:
            df_edges.columns = ["source","target","weight"]
            
        data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})      
        
            
    elif name == "dawn_hyp":     
        file_head = "DAWN"
        # node name
        file_name_1 = name2file_name[name] + file_head + "-node-labels.txt"
        with open(file_name_1,"r") as f:
            v1 = f.readlines()
        out = []
        for i in range(len(v1)):
            v2 = v1[i].strip("\n").split(" ")
            out.append([v2[0],v2[1],v2[2]])
        df_nodes = pd.DataFrame(out)
        df_nodes.columns = ["node","name","description"]

        hyper_simplices = dict()
        hyper_time = dict()
        
        file_name_2 = name2file_name[name] + file_head + "-nverts.txt"
        with open(file_name_2,"r") as f:
            vec_num = f.readlines()
            
        file_name_3 = name2file_name[name] + file_head + "-times.txt"
        with open(file_name_3,"r") as f:
            vec_times = f.readlines()       
            
        file_name_4 = name2file_name[name] + file_head + "-simplices.txt"
        with open(file_name_4,"r") as f:
            simplices = f.readlines()     
            
        cnt = 0
        for i in range(len(vec_num)):              
            num_vert = int(vec_num[i].strip("\n"))
            vec_tmp = simplices[cnt:cnt+num_vert]
            for j in range(len(vec_tmp)):
                vec_tmp[j] = int(vec_tmp[j].strip("\n"))
            hyper_simplices.update({i:vec_tmp})
            hyper_time.update({i:int(vec_times[i].strip("\n"))})
            cnt = cnt + num_vert
         
        data_dict.update({"df_nodes":df_nodes,"hyper_simplices":hyper_simplices,"hyper_time":hyper_time})
        
    elif name == "ndc_net":
        file_name_1 = name2file_name[name] + "NDC-substances-full-node-labels.txt"
        with open(file_name_1,"r") as f:
            v1 = f.readlines()

        out = []
        for i in range(len(v1)):
            v2 = v1[i].strip("\n").split(" ")
            out.append([v2[0]," ".join(v2[1:])])
        df_nodes = pd.DataFrame(out)
        df_nodes.columns = ["node","name"]
        file_name_2 = name2file_name[name] + "NDC-substances-full-proj-graph.txt"
        df_edges = pd.read_csv(file_name_2,sep=" ",header=None)
        if original_format:
            df_edges.columns = ["i","j","w"]
        else:
            df_edges.columns = ["source","target","weight"]
            
        data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})      
        
    elif name == "ndc_hyp":
        file_head = "NDC-substances"
        # node name
        file_name_1 = name2file_name[name] + file_head + "-full-node-labels.txt"
        with open(file_name_1,"r") as f:
            v1 = f.readlines()
        out = []
        for i in range(len(v1)):
            v2 = v1[i].strip("\n").split(" ")
            out.append([v2[0]," ".join(v2[1:])])
        df_nodes = pd.DataFrame(out)
        df_nodes.columns = ["node","name"]
        
        hyper_simplices = dict()
        hyper_time = dict()
        hyper_labels = dict()
        
        file_name_2 = name2file_name[name] + file_head + "-full-nverts.txt"
        with open(file_name_2,"r") as f:
            vec_num = f.readlines()
            
            
        file_name_3 = name2file_name[name] + file_head + "-full-times.txt"
        with open(file_name_3,"r") as f:
            vec_times = f.readlines()       
            
        file_name_4 = name2file_name[name] + file_head + "-full-simplices.txt"
        with open(file_name_4,"r") as f:
            simplices = f.readlines()     
            
        file_name_5 = name2file_name[name] + file_head + "-full-simplex-labels.txt"
        with open(file_name_5,"r") as f:
            simplex_labels = f.readlines() 
            
        cnt = 0
        for i in range(len(vec_num)):              
            num_vert = int(vec_num[i].strip("\n"))
            vec_tmp = simplices[cnt:cnt+num_vert]
            for j in range(len(vec_tmp)):
                vec_tmp[j] = int(vec_tmp[j].strip("\n"))
            hyper_simplices.update({i:vec_tmp})
            hyper_time.update({i:int(vec_times[i].strip("\n"))})
            hyper_labels.update({i:simplex_labels[i]})
            cnt = cnt + num_vert

        data_dict.update({"df_nodes":df_nodes,"hyper_simplices":hyper_simplices,"hyper_time":hyper_time,
                         "hyper_labels":hyper_labels})
        
    elif name == "wiod2016":
        
        file_list_edge = glob.glob(name2file_name[name] + "/*_edgelist.csv")
        file_list_edge.sort()

        df_list = []
        for i in range(len(file_list_edge)):
            year = int(file_list_edge[i].split("/")[-1].split("_")[0].strip("WIOT"))
            df_tmp = pd.read_csv(file_list_edge[i],header=None)
            df_tmp["time"] = year
            df_list.append(df_tmp)

        df_edges = pd.concat(df_list)
        df_edges.columns = ["source","target","weight","time"]


        file_list_index = glob.glob(name2file_name[name] + "*_index2nodes.csv")
        file_list_index.sort()

        df_list = []
        for i in range(len(file_list_index)):
            year = int(file_list_index[i].split("/")[-1].split("_")[0].strip("WIOT"))
            df_tmp = pd.read_csv(file_list_index[i])
            df_tmp["time"] = year
            df_list.append(df_tmp)

        df_nodes = pd.concat(df_list)
        df_nodes.columns = ["node","name","time"]
        data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})

    elif name == "wiod2013":
        file_list_edge = glob.glob(name2file_name[name] + "/*_edgelist.csv")
        file_list_edge.sort()

        df_list = []
        for i in range(len(file_list_edge)):
            year = int(file_list_edge[i].split("/")[-1].split("_")[0].strip("WIOT"))
            df_tmp = pd.read_csv(file_list_edge[i],header=None)
            df_tmp["time"] = year
            df_list.append(df_tmp)

        df_edges = pd.concat(df_list)
        df_edges.columns = ["source","target","weight","time"]


        file_list_index = glob.glob(name2file_name[name] + "*_index2nodes.csv")
        file_list_index.sort()

        df_list = []
        for i in range(len(file_list_index)):
            year = int(file_list_index[i].split("/")[-1].split("_")[0].strip("WIOT"))
            df_tmp = pd.read_csv(file_list_index[i])
            df_tmp["time"] = year
            df_list.append(df_tmp)

        df_nodes = pd.concat(df_list)
        df_nodes.columns = ["node","name","time"]
        data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})
        
        
    elif name == "wiodlong":
        
        file_name_1 = name2file_name[name] + "LongrunWIOD_index2nodes.csv"
        df_nodes = pd.read_csv(file_name_1)
        df_nodes.columns = ["node","name"]

        file_name_2 = name2file_name[name] + "LongrunWIOD_edgelist.csv"
        df_edges = pd.read_csv(file_name_2,header=None)
        df_edges.columns = ["time","source","target","weight"]
        
        data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})
        
       
    elif name == "eth":
        
        # Retrieve address unifer
        df_unifier = pd.read_csv(file_name  + "/all_ens_pairs.csv")
        address2node = dict()
        for i in range(len(df_unifier)):
            address2node.update({df_unifier["address"].iloc[i]:df_unifier["name"].iloc[i]})

        df_edges = pd.read_csv(file_name + "/raw_normal_txs.csv")

        df_edges["from_uni"] = df_edges["from"].map(address2node)
        df_edges["to_uni"] = df_edges["to"].map(address2node)

        df_edges_sub = df_edges.dropna(subset=['from_uni', 'to_uni'])

        

        with open(file_name + "/labeledAddresses.json") as f:
            lines = f.read()

        import json
        category = json.loads(lines)

        list_df = []
        for i in category.keys():
            df_tmp = pd.DataFrame(category[i])
            df_tmp["category"] = i

            list_df.append(df_tmp)
        df_nodes_known = pd.concat(list_df)
        df_nodes_known.columns = ["address","name","category"]
        
        if original_format:
            data_dict.update({"df_edges":df_edges})
        else:
            df_edges = df_edges[["from","to","timeStamp","value"]].copy()
            df_edges.columns = ["source","target","time","weight"]
            df_edges_sub = df_edges_sub[["from_uni","to_uni","timeStamp","value"]].copy()
            df_edges_sub.columns = ["source","target","time","weight"]
            data_dict.update({"df_edges":df_edges,"df_edges_sub":df_edges_sub,"df_nodes_knwon":df_nodes_known})
    
    elif name == "bitcoinalpha":
        df_edges = pd.read_csv(file_name + "soc-sign-bitcoinalpha.csv",header=None)
        df_edges.columns = ["source","target","weight","time"]
        data_dict.update({"df_edges":df_edges})
     
    elif name == "bitcoinotc":
        df_edges = pd.read_csv(file_name + "soc-sign-bitcoinotc.csv",header=None)
        df_edges.columns = ["source","target","weight","time"]
        data_dict.update({"df_edges":df_edges})
    
    elif name == "uscourt":
        df_edges = pd.read_csv(name2file_name[name] + "us_court_500_edges.csv")
        df_nodes = pd.read_csv(name2file_name[name] + "us_court_500_nodes.csv")
        data_dict.update({"df_edges":df_edges,"df_nodes":df_nodes})
    else:
        print("Please enter correct data name")
        print(name2file_name.keys())
        
    
    return data_dict

In [30]:
#name = "blogcatalog" # CHECKED
#name = "homosapiens" # CHECKED
#name = "wikipos" # CHECKED
#name = "enron" # CHECKED
#name = "unvote" # CHECKED
#name = "untrade" # CHECKED
#name = "uslegis_net" # CHECKED
#name = "uslegis_net_small_dyn"  # CHECKED
#name = "uslegis_net_dyn"  # CHECKED
#name = "uslegis_hyp_dyn" # CHECKED
#name = "contacts" 
#name = "dawn_net"
#name = "dawn_hyp"
#name = "ndc_net"
#name = "ndc_hyp"
#name = "coauth_dblp_net"
#name = "coauth_dblp_hyp"
#name = "wiod2016"
#name = "wiod2013"
#name = "wiodlong"
#name = "eth"
name = "bitcoinalpha"
name = "bitcoinotc"
name = "uscourt"
file_name = name2file_name[name]
print(file_name)

/home/rh/Arbeitsraum/bitbucket/share/SLMI2/data/

In [31]:
data_dict = get_data(name,original_format=False)
#df_nodes = data_dict["df_nodes"]
#df_edges = data_dict["df_edges"]

In [32]:
data_dict.keys()

dict_keys(['df_edges', 'df_nodes'])

In [35]:
df_nodes = data_dict["df_nodes"]
df_edges = data_dict["df_edges"]
#df_edges_sub = data_dict["df_edges_sub"]

In [36]:
df_nodes

         node  in_degree        date          name
0      111170      74369  1984-05-14  466 U.S. 668
1      111719      58659  1986-06-25  477 U.S. 242
2      110138      54792  1979-06-28  443 U.S. 307
3      107423      53308  1967-05-08  386 U.S. 738
4      111722      52774  1986-06-25  477 U.S. 317
...       ...        ...         ...           ...
3372   107736        500  1968-06-10  392 U.S. 219
3373   159430        500  2000-02-02      NotKnown
3374  1431594        500  1995-01-23  513 U.S. 364
3375   104234        500  1946-02-04  327 U.S. 114
3376   107187        500  1966-03-21  383 U.S. 413

[3377 rows x 4 columns]

In [34]:
df_edges

        source   target  weight
0       109382  2186852       4
1       104321  1561296       3
2       112903  1561296       3
3      2430249  1561296       3
4      1713584  1561296       1
...        ...      ...     ...
36545   109935  1060945       1
36546   109532  1060945       1
36547   109533  1060945       1
36548   109535  1060945       1
36549   111092  1060945       1

[36550 rows x 3 columns]

In [136]:
nodes = list(set(df_edges["source"]))
nodes.extend(list(set(df_edges["target"])))

In [89]:
nodes = list(set(nodes))

In [91]:
len(nodes)

146807

In [85]:
len(df_edges)

1599844

In [56]:
import networkx as nx

In [57]:
# Convert dataframe to NetworkX graph
G = nx.from_pandas_edgelist(df_edges, 'source', 'target')

# Get the largest connected component
largest_cc = max(nx.connected_components(G), key=len)
G_subgraph = G.subgraph(largest_cc).copy()

In [62]:
len(set(df_new["target"]))

102406

In [58]:

# Convert it back to a dataframe
df_new = pd.DataFrame({
    'source': [edge[0] for edge in G_subgraph.edges()],
    'target': [edge[1] for edge in G_subgraph.edges()]
})

print(df_new)

                                            source  \
0                                          GENESIS
1                                          GENESIS
2                                          GENESIS
3                                          GENESIS
4                                          GENESIS
...                                            ...
144448  0x41843a392c834ddf23d8e94bb31efb7adfed81de
144449  0x441428454b614d2bb2782165ef1cee53da79dd93
144450  0x7ec24873660e61b915f2fe2040ec272d3c91c7c9
144451  0x7ec24873660e61b915f2fe2040ec272d3c91c7c9
144452  0xcaaebdfc5724541fcc3d2e75be44b926f3aebe59

                                            target
0       0x31d81d526c195e3f10b5c6db52b5e59afbe0a995
1       0x2d5d7335acb0362b47dfa3a8a4d3f5949544d380
2       0x7f46bb25460dd7dae4211ca7f15ad312fc7dc75c
3       0xf5437e158090b2a2d68f82b54a5864b95dd6dbea
4       0x276b0521b0e68b277df0bb32f3fd48326350bfb2
...                                            ...
144448  0xf132e7b168b0461a4b515b25c6da24d3207be54c
144449  0x1664e1ec01cc288a67068478ae9b9ee519f602ca
144450  0xb6da5582629fbd591eb00e49d902eed16426c82b
144451  0xf05ea6ea7416630c877fd4f73435691d1778a898
144452  0xb85141af6e497a508e60763a68560f2f710f83b2

[144453 rows x 2 columns]

In [59]:
len(df_edges)

613515

In [251]:
df_edges

          source   target  weight
0              1        2       3
1              5        6       1
2              5        7       1
3              6        7       1
4              5        8       1
...          ...      ...     ...
8309933  1107270  1930376       1
8309934  1930375  1930376       1
8309935   321062  1930377       1
8309936    39104  1930378       1
8309937    39107  1930378       1

[8309938 rows x 3 columns]

In [75]:
data_dict["hyper_time"]

{0: 720261,
 1: 720261,
 2: 720288,
 3: 720289,
 4: 720289,
 5: 720289,
 6: 720289,
 7: 720294,
 8: 720294,
 9: 720294,
 10: 720294,
 11: 720294,
 12: 720261,
 13: 720295,
 14: 720296,
 15: 720296,
 16: 720296,
 17: 720296,
 18: 720297,
 19: 720297,
 20: 720297,
 21: 720310,
 22: 720310,
 23: 720261,
 24: 720310,
 25: 720310,
 26: 720310,
 27: 720310,
 28: 720311,
 29: 720311,
 30: 720316,
 31: 720316,
 32: 720316,
 33: 720316,
 34: 720261,
 35: 720316,
 36: 720317,
 37: 720317,
 38: 720317,
 39: 720317,
 40: 720318,
 41: 720322,
 42: 720322,
 43: 720322,
 44: 720322,
 45: 720261,
 46: 720322,
 47: 720322,
 48: 720322,
 49: 720323,
 50: 720324,
 51: 720324,
 52: 720324,
 53: 720325,
 54: 720325,
 55: 720325,
 56: 720261,
 57: 720325,
 58: 720330,
 59: 720331,
 60: 720331,
 61: 720332,
 62: 720267,
 63: 720332,
 64: 720336,
 65: 720336,
 66: 720337,
 67: 720338,
 68: 720261,
 69: 720338,
 70: 720338,
 71: 720339,
 72: 720339,
 73: 720339,
 74: 720343,
 75: 720343,
 76: 720343,
 77: 720346,
 78: 720346,
 79: 720261,
 80: 720346,
 81: 720346,
 82: 720350,
 83: 720351,
 84: 720352,
 85: 720352,
 86: 720352,
 87: 720352,
 88: 720357,
 89: 720357,
 90: 720261,
 91: 720357,
 92: 720358,
 93: 720359,
 94: 720359,
 95: 720359,
 96: 720359,
 97: 720359,
 98: 720359,
 99: 720359,
 100: 720359,
 101: 720261,
 102: 720359,
 103: 720359,
 104: 720359,
 105: 720359,
 106: 720359,
 107: 720359,
 108: 720360,
 109: 720360,
 110: 720360,
 111: 720360,
 112: 720261,
 113: 720261,
 114: 720366,
 115: 720366,
 116: 720367,
 117: 720367,
 118: 720367,
 119: 720367,
 120: 720378,
 121: 720378,
 122: 720378,
 123: 720379,
 124: 720261,
 125: 720380,
 126: 720381,
 127: 720381,
 128: 720385,
 129: 720385,
 130: 720388,
 131: 720388,
 132: 720388,
 133: 720393,
 134: 720400,
 135: 720261,
 136: 720400,
 137: 720401,
 138: 720401,
 139: 720401,
 140: 720402,
 141: 720402,
 142: 720407,
 143: 720407,
 144: 720407,
 145: 720408,
 146: 720261,
 147: 720408,
 148: 720408,
 149: 720409,
 150: 720414,
 151: 720414,
 152: 720414,
 153: 720414,
 154: 720414,
 155: 720414,
 156: 720414,
 157: 720261,
 158: 720415,
 159: 720416,
 160: 720416,
 161: 720416,
 162: 720416,
 163: 720417,
 164: 720420,
 165: 720421,
 166: 720421,
 167: 720421,
 168: 720261,
 169: 720422,
 170: 720422,
 171: 720423,
 172: 720424,
 173: 720424,
 174: 720429,
 175: 720431,
 176: 720431,
 177: 720431,
 178: 720435,
 179: 720261,
 180: 720435,
 181: 720438,
 182: 720439,
 183: 720449,
 184: 720449,
 185: 720449,
 186: 720450,
 187: 720451,
 188: 720456,
 189: 720458,
 190: 720261,
 191: 720458,
 192: 720459,
 193: 720459,
 194: 720462,
 195: 720462,
 196: 720463,
 197: 720463,
 198: 720465,
 199: 720469,
 200: 720470,
 201: 720261,
 202: 720470,
 203: 720470,
 204: 720471,
 205: 720471,
 206: 720471,
 207: 720472,
 208: 720472,
 209: 720473,
 210: 720473,
 211: 720473,
 212: 720261,
 213: 720511,
 214: 720511,
 215: 720511,
 216: 720512,
 217: 720512,
 218: 720513,
 219: 720514,
 220: 720518,
 221: 720518,
 222: 720261,
 223: 720261,
 224: 720519,
 225: 720519,
 226: 720519,
 227: 720520,
 228: 720521,
 229: 720521,
 230: 720521,
 231: 720521,
 232: 720521,
 233: 720521,
 234: 720261,
 235: 720521,
 236: 720521,
 237: 720521,
 238: 720521,
 239: 720521,
 240: 720526,
 241: 720526,
 242: 720527,
 243: 720527,
 244: 720532,
 245: 720261,
 246: 720532,
 247: 720533,
 248: 720533,
 249: 720533,
 250: 720534,
 251: 720534,
 252: 720534,
 253: 720534,
 254: 720534,
 255: 720534,
 256: 720261,
 257: 720534,
 258: 720535,
 259: 720535,
 260: 720540,
 261: 720540,
 262: 720540,
 263: 720540,
 264: 720540,
 265: 720540,
 266: 720540,
 267: 720261,
 268: 720541,
 269: 720541,
 270: 720541,
 271: 720541,
 272: 720541,
 273: 720541,
 274: 720541,
 275: 720542,
 276: 720542,
 277: 720543,
 278: 720261,
 279: 720546,
 280: 720547,
 281: 720547,
 282: 720547,
 283: 720548,
 284: 720548,
 285: 720548,
 286: 720549,
 287: 720549,
 288: 720549,
 289: 720261,
 290: 720549,
 291: 720549,
 292: 720554,
 293: 720554,
 294: 720554,
 295: 720554,
 296: 720555,
 297: 720556,
 298: 720556,
 299: 720556,
 300: 720261,
 301: 720560,
 302: 720561,
 303: 720561,
 304: 720562,
 305: 720562,
 306: 720568,
 307: 720569,
 308: 720574,
 309: 720575,
 310: 720576,
 311: 720261,
 312: 720576,
 313: 720589,
 314: 720589,
 315: 720589,
 316: 720589,
 317: 720590,
 318: 720591,
 319: 720591,
 320: 720591,
 321: 720591,
 322: 720261,
 323: 720592,
 324: 720596,
 325: 720596,
 326: 720597,
 327: 720597,
 328: 720602,
 329: 720603,
 330: 720603,
 331: 720604,
 332: 720604,
 333: 720261,
 334: 720261,
 335: 720605,
 336: 720241,
 337: 720609,
 338: 720610,
 339: 720611,
 340: 720611,
 341: 720611,
 342: 720612,
 343: 720613,
 344: 720613,
 345: 720261,
 346: 720613,
 347: 720613,
 348: 720614,
 349: 720644,
 350: 720645,
 351: 720651,
 352: 720652,
 353: 720652,
 354: 720652,
 355: 720653,
 356: 720261,
 357: 720654,
 358: 720654,
 359: 720654,
 360: 720658,
 361: 720658,
 362: 720659,
 363: 720659,
 364: 720659,
 365: 720667,
 366: 720667,
 367: 720261,
 368: 720667,
 369: 720668,
 370: 720668,
 371: 720674,
 372: 720675,
 373: 720679,
 374: 720679,
 375: 720680,
 376: 720680,
 377: 720680,
 378: 720264,
 379: 720681,
 380: 720688,
 381: 720689,
 382: 720694,
 383: 720694,
 384: 720694,
 385: 720695,
 386: 720700,
 387: 720702,
 388: 720702,
 389: 720267,
 390: 720702,
 391: 720709,
 392: 720714,
 393: 720714,
 394: 720715,
 395: 720715,
 396: 720715,
 397: 720715,
 398: 720715,
 399: 720716,
 400: 720267,
 401: 720716,
 402: 720717,
 403: 720717,
 404: 720717,
 405: 720717,
 406: 720717,
 407: 720717,
 408: 720717,
 409: 720717,
 410: 720717,
 411: 720267,
 412: 720717,
 413: 720717,
 414: 720717,
 415: 720722,
 416: 720722,
 417: 720723,
 418: 720723,
 419: 720723,
 420: 720724,
 421: 720735,
 422: 720269,
 423: 720736,
 424: 720737,
 425: 720738,
 426: 720738,
 427: 720742,
 428: 720749,
 429: 720749,
 430: 720749,
 431: 720750,
 432: 720750,
 433: 720267,
 434: 720751,
 435: 720751,
 436: 720756,
 437: 720759,
 438: 720759,
 439: 720759,
 440: 720759,
 441: 720759,
 442: 720759,
 443: 720261,
 444: 720267,
 445: 720764,
 446: 720765,
 447: 720765,
 448: 720766,
 449: 720766,
 450: 720772,
 451: 720772,
 452: 720773,
 453: 720773,
 454: 720773,
 455: 720267,
 456: 720773,
 457: 720773,
 458: 720777,
 459: 720778,
 460: 720778,
 461: 720778,
 462: 720778,
 463: 720779,
 464: 720779,
 465: 720780,
 466: 720267,
 467: 720780,
 468: 720780,
 469: 720780,
 470: 720780,
 471: 720780,
 472: 720780,
 473: 720780,
 474: 720780,
 475: 720780,
 476: 720780,
 477: 720267,
 478: 720780,
 479: 720780,
 480: 720780,
 481: 720780,
 482: 720780,
 483: 720785,
 484: 720785,
 485: 720787,
 486: 720787,
 487: 720787,
 488: 720267,
 489: 720787,
 490: 720787,
 491: 720787,
 492: 720788,
 493: 720788,
 494: 720788,
 495: 720788,
 496: 720792,
 497: 720792,
 498: 720793,
 499: 720267,
 500: 720795,
 501: 720799,
 502: 720799,
 503: 720801,
 504: 720805,
 505: 720805,
 506: 720806,
 507: 720806,
 508: 720807,
 509: 720814,
 510: 720267,
 511: 720814,
 512: 720815,
 513: 720815,
 514: 720820,
 515: 720820,
 516: 720821,
 517: 720822,
 518: 720826,
 519: 720828,
 520: 720828,
 521: 720267,
 522: 720835,
 523: 720835,
 524: 720835,
 525: 720835,
 526: 720836,
 527: 720836,
 528: 720836,
 529: 720837,
 530: 720837,
 531: 720837,
 532: 720267,
 533: 720837,
 534: 720837,
 535: 720837,
 536: 720840,
 537: 720840,
 538: 720840,
 539: 720841,
 540: 720843,
 541: 720843,
 542: 720843,
 543: 720267,
 544: 720843,
 545: 720843,
 546: 720843,
 547: 720843,
 548: 720844,
 549: 720844,
 550: 720844,
 551: 720847,
 552: 720847,
 553: 720848,
 554: 720261,
 555: 720269,
 556: 720848,
 557: 720849,
 558: 720849,
 559: 720850,
 560: 720850,
 561: 720850,
 562: 720850,
 563: 720850,
 564: 720854,
 565: 720855,
 566: 720269,
 567: 720855,
 568: 720855,
 569: 720855,
 570: 720856,
 571: 720856,
 572: 720856,
 573: 720856,
 574: 720856,
 575: 720856,
 576: 720857,
 577: 720269,
 578: 720857,
 579: 720857,
 580: 720857,
 581: 720857,
 582: 720857,
 583: 720857,
 584: 720857,
 585: 720857,
 586: 720877,
 587: 720877,
 588: 720269,
 589: 720877,
 590: 720877,
 591: 720877,
 592: 720877,
 593: 720877,
 594: 720878,
 595: 720882,
 596: 720883,
 597: 720883,
 598: 720884,
 599: 720269,
 600: 720884,
 601: 720884,
 602: 720885,
 603: 720885,
 604: 720885,
 605: 720889,
 606: 720889,
 607: 720890,
 608: 720890,
 609: 720890,
 610: 720269,
 611: 720891,
 612: 720896,
 613: 720897,
 614: 720897,
 615: 720897,
 616: 720899,
 617: 720899,
 618: 720899,
 619: 720903,
 620: 720904,
 621: 720269,
 622: 720904,
 623: 720905,
 624: 720905,
 625: 720905,
 626: 720905,
 627: 720905,
 628: 720905,
 629: 720906,
 630: 720906,
 631: 720906,
 632: 720269,
 633: 720906,
 634: 720906,
 635: 720906,
 636: 720906,
 637: 720906,
 638: 720907,
 639: 720911,
 640: 720912,
 641: 720913,
 642: 720945,
 643: 720269,
 644: 720945,
 645: 720945,
 646: 720945,
 647: 720946,
 648: 720946,
 649: 720947,
 650: 720948,
 651: 720952,
 652: 720952,
 653: 720953,
 654: 720269,
 655: 720962,
 656: 720966,
 657: 720970,
 658: 720975,
 659: 720975,
 660: 720975,
 661: 720977,
 662: 720977,
 663: 720977,
 664: 720261,
 665: 720269,
 666: 720269,
 667: 720269,
 668: 720269,
 669: 720269,
 670: 720269,
 671: 720269,
 672: 720269,
 673: 720273,
 674: 720273,
 675: 720261,
 676: 720273,
 677: 720276,
 678: 720276,
 679: 720276,
 680: 720276,
 681: 720276,
 682: 720280,
 683: 720280,
 684: 720280,
 685: 720280,
 686: 720261,
 687: 720281,
 688: 720281,
 689: 720281,
 690: 720281,
 691: 720281,
 692: 720282,
 693: 720284,
 694: 720288,
 695: 720288,
 696: 720288,
 697: 720637,
 698: 721002,
 699: 721024,
 700: 721024,
 701: 721024,
 702: 721024,
 703: 721024,
 704: 721024,
 705: 721025,
 706: 721025,
 707: 721025,
 708: 721002,
 709: 721025,
 710: 721025,
 711: 721029,
 712: 721029,
 713: 721029,
 714: 721029,
 715: 721029,
 716: 721032,
 717: 721032,
 718: 721032,
 719: 721002,
 720: 721032,
 721: 721037,
 722: 721037,
 723: 721037,
 724: 721038,
 725: 721038,
 726: 721038,
 727: 721038,
 728: 721038,
 729: 721038,
 730: 721002,
 731: 721038,
 732: 721038,
 733: 721038,
 734: 721039,
 735: 721039,
 736: 721039,
 737: 721039,
 738: 721039,
 739: 721039,
 740: 721039,
 741: 721002,
 742: 721039,
 743: 721039,
 744: 721040,
 745: 721043,
 746: 721043,
 747: 721044,
 748: 721044,
 749: 721044,
 750: 721044,
 751: 721044,
 752: 721002,
 753: 721044,
 754: 721044,
 755: 721044,
 756: 721045,
 757: 721045,
 758: 721045,
 759: 721046,
 760: 721046,
 761: 721046,
 762: 721046,
 763: 721002,
 764: 721046,
 765: 721051,
 766: 721051,
 767: 721051,
 768: 721053,
 769: 721053,
 770: 721053,
 771: 721053,
 772: 721053,
 773: 721057,
 774: 721002,
 775: 721057,
 776: 721057,
 777: 721057,
 778: 721058,
 779: 721058,
 780: 721058,
 781: 721058,
 782: 721058,
 783: 721059,
 784: 721060,
 785: 721002,
 786: 721060,
 787: 721064,
 788: 721064,
 789: 721064,
 790: 721064,
 791: 721065,
 792: 721066,
 793: 721067,
 794: 721067,
 795: 721068,
 796: 721002,
 797: 721068,
 798: 721071,
 799: 721071,
 800: 721071,
 801: 721072,
 802: 721072,
 803: 721073,
 804: 721073,
 805: 721073,
 806: 721073,
 807: 721002,
 808: 721002,
 809: 721073,
 810: 721073,
 811: 721073,
 812: 721086,
 813: 721086,
 814: 721086,
 815: 721086,
 816: 721086,
 817: 721086,
 818: 721086,
 819: 721002,
 820: 721087,
 821: 721088,
 822: 721088,
 823: 721088,
 824: 721088,
 825: 721088,
 826: 721088,
 827: 721088,
 828: 721092,
 829: 721092,
 830: 721002,
 831: 721093,
 832: 721093,
 833: 721094,
 834: 721094,
 835: 721094,
 836: 721094,
 837: 721094,
 838: 721094,
 839: 721094,
 840: 721094,
 841: 721002,
 842: 721094,
 843: 721095,
 844: 721095,
 845: 721095,
 846: 721095,
 847: 721095,
 848: 721095,
 849: 721095,
 850: 721095,
 851: 721096,
 852: 721002,
 853: 721096,
 854: 721096,
 855: 721096,
 856: 721099,
 857: 721099,
 858: 721099,
 859: 721099,
 860: 721100,
 861: 721100,
 862: 721100,
 863: 721002,
 864: 721101,
 865: 721101,
 866: 721102,
 867: 721102,
 868: 721106,
 869: 721107,
 870: 721107,
 871: 721107,
 872: 721108,
 873: 721108,
 874: 721002,
 875: 721108,
 876: 721108,
 877: 721109,
 878: 721109,
 879: 721113,
 880: 721113,
 881: 721113,
 882: 721113,
 883: 721114,
 884: 721115,
 885: 721002,
 886: 721115,
 887: 721116,
 888: 721116,
 889: 721116,
 890: 721120,
 891: 721120,
 892: 721121,
 893: 721121,
 894: 721122,
 895: 721122,
 896: 721002,
 897: 721122,
 898: 721122,
 899: 721123,
 900: 721123,
 901: 721123,
 902: 721127,
 903: 721127,
 904: 721128,
 905: 721128,
 906: 721129,
 907: 721002,
 908: 721129,
 909: 721130,
 910: 721142,
 911: 721142,
 912: 721142,
 913: 721143,
 914: 721144,
 915: 721144,
 916: 721145,
 917: 721145,
 918: 721002,
 919: 721002,
 920: 721145,
 921: 721149,
 922: 721149,
 923: 721149,
 924: 721150,
 925: 721150,
 926: 721151,
 927: 721151,
 928: 721155,
 929: 721156,
 930: 721002,
 931: 721156,
 932: 721156,
 933: 721156,
 934: 721157,
 935: 721157,
 936: 721157,
 937: 721157,
 938: 721158,
 939: 721158,
 940: 721158,
 941: 721002,
 942: 721159,
 943: 721159,
 944: 721163,
 945: 721163,
 946: 721164,
 947: 721164,
 948: 721165,
 949: 721165,
 950: 721177,
 951: 721177,
 952: 721002,
 953: 721177,
 954: 721177,
 955: 721178,
 956: 721178,
 957: 721179,
 958: 721180,
 959: 721183,
 960: 721183,
 961: 721183,
 962: 721183,
 963: 721002,
 964: 721183,
 965: 721183,
 966: 721185,
 967: 721185,
 968: 721185,
 969: 721185,
 970: 721186,
 971: 721186,
 972: 721186,
 973: 721191,
 974: 721002,
 975: 721191,
 976: 721191,
 977: 721191,
 978: 721191,
 979: 721191,
 980: 721191,
 981: 721192,
 982: 721192,
 983: 721192,
 984: 721194,
 985: 721002,
 986: 721194,
 987: 721194,
 988: 721194,
 989: 721194,
 990: 721197,
 991: 721197,
 992: 721197,
 993: 721198,
 994: 721199,
 995: 721199,
 996: 721002,
 997: 721199,
 998: 721199,
 999: 721200,
 ...}

In [66]:
data_dict["df_edges"]

           index  source  target  timestamp
0              1    1602    1532     719646
1              2     171     308     719923
2              3     144     401     720261
3              4     316     130     720261
4              5     144     419     720261
...          ...     ...     ...        ...
4985404  4985405    1697    1536     731923
4985405  4985406    1697    1211     731923
4985406  4985407    1684    1536     731923
4985407  4985408    1684    1211     731923
4985408  4985409    1536    1211     731923

[4985409 rows x 4 columns]

In [37]:
print(len(set(data_dict["df_nodes"]["node"])))

KeyError: 'df_nodes'

In [28]:
len(data_dict["df_edges"])

184812

In [33]:
print(len(list(set(data_dict["df_nodes"]["node"]))))

4777

In [62]:
df_edges

         source  target       weight  time
0             0      11    15.182381     0
1             0      22  8101.004965     0
2             0      29   463.975567     0
3             0      30    76.183439     0
4             0      31   382.879654     0
...         ...     ...          ...   ...
1750850    1218    1211     3.840705    99
1750851    1218    1213    14.460535    99
1750852    1218    1215     9.620198    99
1750853    1218    1216   172.335558    99
1750854    1218    1217    34.795301    99

[29962921 rows x 4 columns]

In [27]:
data_dict = get_data(name,original_format=True)
data_dict

{'df_edges':          Unnamed: 0     u     i      ts   label      idx
 0                 0  1602  1532  719646       0        1
 1                 1   171   308  719923       1        2
 2                 2   144   401  720261       2        3
 3                 3   316   130  720261       3        4
 4                 4   144   419  720261       4        5
 ...             ...   ...   ...     ...     ...      ...
 4985404     4985404  1697  1536  731923  105928  4985405
 4985405     4985405  1697  1211  731923  105928  4985406
 4985406     4985406  1684  1536  731923  105928  4985407
 4985407     4985407  1684  1211  731923  105928  4985408
 4985408     4985408  1536  1211  731923  105928  4985409

 [4985409 rows x 6 columns]}

In [19]:
data_dict["df_nodes"]

        node  label
10475      0     20
4204       1      7
2718       2      5
11333      3     23
1810       4      4
...      ...    ...
5826   10308      7
13173  10309     28
14440  10310     36
11007  10310     21
8390   10311     15

[14476 rows x 2 columns]

In [18]:
out_dict.keys()

dict_keys(['mat_data'])

In [19]:
out_dict["mat_data"]

{'__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Thu Jun  4 13:49:17 2009',
 '__version__': '1.0',
 '__globals__': [],
 'network': <10312x10312 sparse matrix of type '<class 'numpy.float64'>'
 	with 667966 stored elements in Compressed Sparse Column format>,
 'group': <10312x39 sparse matrix of type '<class 'numpy.float64'>'
 	with 14476 stored elements in Compressed Sparse Column format>}

In [ ]:
a

In [22]:
df_nodes

In [23]:
df_edges

           index  source  target  timestamp  weight
0              1       1       2        0.0   -73.0
1              2       3       4        0.0   -86.0
2              3       5       6        0.0   -62.0
3              4       7       8        0.0   -87.0
4              5       9      10        0.0   -96.0
...          ...     ...     ...        ...     ...
2426274  2426275     660     256  2418900.0   -83.0
2426275  2426276     660     227  2418900.0   -58.0
2426276  2426277     660     231  2418900.0   -94.0
2426277  2426278     660     135  2418900.0   -94.0
2426278  2426279     660     241  2418900.0   -79.0

[2426279 rows x 5 columns]

In [103]:
df_edges

        source  target
0            0       0
3581         0       1
7226         0       2
10557        0       3
13440        0       4
...        ...     ...
74422     4776     194
75650     4776     204
82159     4776     270
82924     4776     279
182684    4776    4564

[184812 rows x 2 columns]

In [33]:
mat_data["group"]

<10312x39 sparse matrix of type '<class 'numpy.float64'>'
	with 14476 stored elements in Compressed Sparse Column format>

In [23]:

df_nodes =

In [24]:
df

        source  target
0          175       0
1          232       0
2          282       0
3          370       0
4          393       0
...        ...     ...
667961   10304   10310
667962    5264   10311
667963    9732   10311
667964    9987   10311
667965   10012   10311

[667966 rows x 2 columns]

In [7]:
ls

 ドライブ C のボリューム ラベルは Local Disk です
 ボリューム シリアル番号は F632-C79B です

 C:\users\rh\desktop\data\original_format のディレクトリ

08/11/2023  07:34 PM    <DIR>          .
08/11/2023  07:34 PM    <DIR>          ..
03/04/2021  05:45 AM         1,255,783 blogcatalog.mat
               1 個のファイル           1,255,783 バイト
               2 個のディレクトリ  590,267,727,872 バイトの空き領域