# Import modules

In [1]:
from util import *
from read_data import *
import os
import glob
import networkx as nx

# List of data

In [2]:
data_names = list(name2file_name.keys())
print(data_names)

['blogcatalog', 'homosapiens', 'wikipos', 'enron', 'unvote', 'untrade', 'uslegis_net', 'uslegis_net_small_dyn', 'uslegis_net_dyn', 'uslegis_hyp_dyn', 'contacts', 'dawn_net', 'dawn_hyp', 'ndc_net', 'ndc_hyp', 'coauth_dblp_net', 'coauth_dblp_hyp', 'wiod2016', 'wiod2013', 'wiodlong', 'eth', 'bitcoinalpha', 'bitcoinotc', 'uscourt']

# Choose one

In [3]:
#name = "wiod2016"
name = data_names[3]
print("We are going to use: " + name)

We are going to use: enron

In [4]:
# Enable original_format to use the format as originally provided
data_dict = get_data(name,original_format=False)
data_dict.keys()

dict_keys(['df_edges'])

In [5]:
#df_nodes = data_dict["df_nodes"]
df_edges = data_dict["df_edges"]

In [6]:
df_edges

         index  source  target    timestamp
0            1     115     170          0.0
1            2     115     170          0.0
2            3     115     124     529920.0
3            4     115     124     529920.0
4            5     115     124     533820.0
...        ...     ...     ...          ...
125230  125231      18      18  113717323.0
125231  125232     163      18  113733034.0
125232  125233     163     156  113733034.0
125233  125234     163     166  113733034.0
125234  125235      18      18  113740399.0

[125235 rows x 4 columns]

In [18]:
df_edges

        source   target  weight
0       109382  2186852       4
1       104321  1561296       3
2       112903  1561296       3
3      2430249  1561296       3
4      1713584  1561296       1
...        ...      ...     ...
36545   109935  1060945       1
36546   109532  1060945       1
36547   109533  1060945       1
36548   109535  1060945       1
36549   111092  1060945       1

[36550 rows x 3 columns]

# Is everything connected?

In [19]:
df_edges_cc = return_largest_cc(df_edges)

In [20]:
len(df_edges_cc)

36525

In [21]:
len(df_edges)

36550