# Import modules

In [23]:
from util import *
from read_data import *
import os
import glob
import networkx as nx

# List of data

In [2]:
data_names = list(name2file_name.keys())
print(data_names)

['blogcatalog', 'homosapiens', 'wikipos', 'enron', 'unvote', 'untrade', 'uslegis_net', 'uslegis_net_small_dyn', 'uslegis_net_dyn', 'uslegis_hyp_dyn', 'contacts', 'dawn_net', 'dawn_hyp', 'ndc_net', 'ndc_hyp', 'coauth_dblp_net', 'coauth_dblp_hyp', 'wiod2016', 'wiod2013', 'wiodlong', 'eth', 'bitcoinalpha', 'bitcoinotc', 'uscourt']

# Choose one

In [12]:
name = data_names[-1]
print("We are going to use: " + name)

We are going to use: uscourt

In [14]:
# Enable original_format to use the format as originally provided
data_dict = get_data(name,original_format=False)

# What is inside?

In [15]:
data_dict.keys()

dict_keys(['df_edges', 'df_nodes'])

In [16]:
df_nodes = data_dict["df_nodes"]
df_edges = data_dict["df_edges"]

In [17]:
df_nodes

         node  in_degree        date          name
0      111170      74369  1984-05-14  466 U.S. 668
1      111719      58659  1986-06-25  477 U.S. 242
2      110138      54792  1979-06-28  443 U.S. 307
3      107423      53308  1967-05-08  386 U.S. 738
4      111722      52774  1986-06-25  477 U.S. 317
...       ...        ...         ...           ...
3372   107736        500  1968-06-10  392 U.S. 219
3373   159430        500  2000-02-02      NotKnown
3374  1431594        500  1995-01-23  513 U.S. 364
3375   104234        500  1946-02-04  327 U.S. 114
3376   107187        500  1966-03-21  383 U.S. 413

[3377 rows x 4 columns]

In [18]:
df_edges

        source   target  weight
0       109382  2186852       4
1       104321  1561296       3
2       112903  1561296       3
3      2430249  1561296       3
4      1713584  1561296       1
...        ...      ...     ...
36545   109935  1060945       1
36546   109532  1060945       1
36547   109533  1060945       1
36548   109535  1060945       1
36549   111092  1060945       1

[36550 rows x 3 columns]

# Is everything connected?

In [19]:
df_edges_cc = return_largest_cc(df_edges)

In [20]:
len(df_edges_cc)

36525

In [21]:
len(df_edges)

36550