# Utility functions

In [1]:
from util import *

In [2]:
path_data = "C:\\users\\rh\\desktop\\data\\datasets\\"

# Set directory

In [3]:
name2file_name = dict()
name2file_name.update({"blogcatalog":path_data + "blogcatalog.mat",
                      "homosapiens" :path_data + "Homo_sapiens.mat",
                      "wikipos"     :path_data + "POS.mat",
                      "enron"       :path_data + "enron\\",
                       
                       "uslegis"    :path_data + "USLegis\\",
                       "unvote"     :path_data + "UNvote\\",    
                       "untrade"    :path_data + "UNtrade\\",
                       "contacts"   :path_data + "Contacts\\",
                      })

In [4]:
name = "blogcatalog"
#name = "homosapiens"
#name = "wikipos"
#name = "enron"
#name = "uslegis"
#name = "unvote"
#name = "untrade"
#name = "contacts"
file_name = name2file_name[name]

In [83]:
# 
def get_data(name,original_format=False):
    
    # Initialize dictionary for outputs
    data_dict = dict()
    
    df_nodes = None
    df_edges = None
    
    # Source
    # https://github.com/GemsLab/PhUSION/tree/master,
    # https://github.com/xptree/NetMF
    if name == "blogcatalog":
        
        # Load the .mat file
        import scipy.io
        mat_data = scipy.io.loadmat(file_name)
        
        # Just return original data
        if original_format == True:
            data_dict.update({"mat_data":mat_data})
            
        else:
            # Get node label information
            matrix_label = mat_data["group"]
            
            # Nodes
            df_nodes = sparse_to_node_df(matrix_label)
            df_nodes.sort_values(by="node",ascending=True,inplace=True)

            # Edgelist
            df_edges = sparse_to_edge_list_df(mat_data["network"])
            df_edges.sort_values(by=["source","target"],ascending=[True,True],inplace=True)

            # Update
            data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})
            
    # Source
    # https://github.com/GemsLab/PhUSION/tree/master,
    # https://github.com/xptree/NetMF
    elif name == "homosapiens":
        
        # Load the .mat file
        import scipy.io
        mat_data = scipy.io.loadmat(file_name)
        
        # Just return original data
        if original_format == True:
            data_dict.update({"mat_data":mat_data})
            
        else:
            # Get node label information
            matrix_label = mat_data["group"]
            
            # Nodes
            df_nodes = sparse_to_node_df(matrix_label)
            df_nodes.sort_values(by="node",ascending=True,inplace=True)

            # Edgelist
            df_edges = sparse_to_edge_list_df(mat_data["network"])
            df_edges.sort_values(by=["source","target"],ascending=[True,True],inplace=True)

            # Update
            data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})

    # Source
    # https://github.com/GemsLab/PhUSION/tree/master,
    # https://github.com/xptree/NetMF
    elif name == "wikipos":
        
        # Load the .mat file
        import scipy.io
        mat_data = scipy.io.loadmat(file_name)
        
        # Just return original data
        if original_format == True:
            data_dict.update({"mat_data":mat_data})
            
        else:
            # Get node label information
            matrix_label = mat_data["group"]
            
            # Nodes
            df_nodes = sparse_to_node_df(matrix_label)
            df_nodes.sort_values(by="node",ascending=True,inplace=True)

            # Edgelist
            df_edges = sparse_to_edge_list_df(mat_data["network"])
            df_edges.sort_values(by=["source","target"],ascending=[True,True],inplace=True)

            # Update
            data_dict.update({"df_nodes":df_nodes,"df_edges":df_edges})
        
    elif name == "enron":
        
        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_enron_node.npy"
        #mat_1 = np.load(file_name_1)
        #file_name_2 = name2file_name[name] + "ml_enron.npy"
        #mat_2 = np.load(file_name_2)
        
        # Edge list
        file_name_3 = name2file_name[name] + "ml_enron.csv"
        df_edges = pd.read_csv(file_name_3)
        
        # Keep original format
        if original_format == True:
            pass
        # More human readable? format
        else:
            df_edges = df_edges[["idx","u","i","ts"]].copy()
            df_edges.columns = ["index","source","target","timestamp"]
            
        # Update
        data_dict.update({"df_edges":df_edges})
        
    elif name == "uslegis":

        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_USLegis_node.npy"
        #mat_1 = np.load(file_name_1)
        
        # Edge feature
        file_name_2 = name2file_name[name] + "ml_USLegis.npy"
        edge_features = np.load(file_name_2)
        
        # Edge list
        file_name_3 = name2file_name[name]  + "ml_USLegis.csv"
        df_edges = pd.read_csv(file_name_3)
        
        # Keep original format
        if original_format:
            data_dict.update({"edge_features":edge_features})
            data_dict.update({"df_edges":df_edges})
        # More human readable? format
        else:
            df_edges = df_edges[["idx","u","i","ts"]].copy()
            df_edges.columns = ["index","source","target","timestamp"]
            df_edges["weight"] = list(edge_features[1:,0])
            data_dict.update({"df_edges":df_edges})

    elif name == "unvote":
        
        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_UNvote_node.npy"
        #mat_1 = np.load(file_name_1)
        
        # Edge Features
        file_name_2 = name2file_name[name] + "ml_UNvote.npy"
        edge_features = np.load(file_name_2)
        
        # Edges
        file_name_3 = name2file_name[name]  + "ml_UNvote.csv"
        df_edges = pd.read_csv(file_name_3)
        
        # Keep original format
        if original_format:
            data_dict.update({"edge_features":edge_features})
            data_dict.update({"df_edges":df_edges})
        # More human readable? format
        else:
            df_edges = df_edges[["idx","u","i","ts"]].copy()
            df_edges.columns = ["index","source","target","timestamp"]
            df_edges["weight"] = list(edge_features[1:,0])
            data_dict.update({"df_edges":df_edges})
        
    elif name == "untrade":
        
        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_UNtrade_node.npy"
        #mat_1 = np.load(file_name_1)
        
        # Edge Features
        file_name_2 = name2file_name[name] + "ml_UNtrade.npy"
        edge_features = np.load(file_name_2)
        
        # Edges
        file_name_3 = name2file_name[name]  + "ml_UNtrade.csv"
        df_edges = pd.read_csv(file_name_3)

        # Keep original format
        if original_format:
            data_dict.update({"edge_features":edge_features})
            data_dict.update({"df_edges":df_edges})
        # More human readable? format
        else:
            df_edges = df_edges[["idx","u","i","ts"]].copy()
            df_edges.columns = ["index","source","target","timestamp"]
            df_edges["weight"] = list(edge_features[1:,0])
            data_dict.update({"df_edges":df_edges})
        
    elif name == "contacts":
        # ALL ZERO
        #file_name_1 = name2file_name[name] + "ml_Contacts_node.npy"
        #mat_1 = np.load(file_name_1)
        
        # Edge Features
        file_name_2 = name2file_name[name] + "ml_Contacts.npy"
        edge_features = np.load(file_name_2)
        
        
        # Edges
        file_name_3 = name2file_name[name]  + "ml_Contacts.csv"
        df_edges = pd.read_csv(file_name_3)
        df_edges = df_edges[["idx","u","i","ts"]].copy()
        df_edges.columns = ["index","source","target","timestamp"]
        df_edges["weight"] = list(mat_2[1:,0])
        
        
    else:
        print("Please enter correct data name")
        print(name2file_name.keys())
        
    
    return data_dict

In [91]:
#name = "blogcatalog" # CHECKED
#name = "homosapiens" # CHECKED
#name = "wikipos" # CHECKED
#name = "enron" # CHECKED
#name = "uslegis" # CHECKED
#name = "unvote" # CHECKED
#name = "untrade" # CHECKED
name = "contacts"

In [92]:
data_dict = get_data(name,original_format=False)
data_dict

{}

In [93]:
data_dict = get_data(name,original_format=True)
data_dict

{}

In [19]:
data_dict["df_nodes"]

        node  label
10475      0     20
4204       1      7
2718       2      5
11333      3     23
1810       4      4
...      ...    ...
5826   10308      7
13173  10309     28
14440  10310     36
11007  10310     21
8390   10311     15

[14476 rows x 2 columns]

In [18]:
out_dict.keys()

dict_keys(['mat_data'])

In [19]:
out_dict["mat_data"]

{'__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Thu Jun  4 13:49:17 2009',
 '__version__': '1.0',
 '__globals__': [],
 'network': <10312x10312 sparse matrix of type '<class 'numpy.float64'>'
 	with 667966 stored elements in Compressed Sparse Column format>,
 'group': <10312x39 sparse matrix of type '<class 'numpy.float64'>'
 	with 14476 stored elements in Compressed Sparse Column format>}

In [ ]:
a

In [22]:
df_nodes

In [23]:
df_edges

           index  source  target  timestamp  weight
0              1       1       2        0.0   -73.0
1              2       3       4        0.0   -86.0
2              3       5       6        0.0   -62.0
3              4       7       8        0.0   -87.0
4              5       9      10        0.0   -96.0
...          ...     ...     ...        ...     ...
2426274  2426275     660     256  2418900.0   -83.0
2426275  2426276     660     227  2418900.0   -58.0
2426276  2426277     660     231  2418900.0   -94.0
2426277  2426278     660     135  2418900.0   -94.0
2426278  2426279     660     241  2418900.0   -79.0

[2426279 rows x 5 columns]

In [103]:
df_edges

        source  target
0            0       0
3581         0       1
7226         0       2
10557        0       3
13440        0       4
...        ...     ...
74422     4776     194
75650     4776     204
82159     4776     270
82924     4776     279
182684    4776    4564

[184812 rows x 2 columns]

In [33]:
mat_data["group"]

<10312x39 sparse matrix of type '<class 'numpy.float64'>'
	with 14476 stored elements in Compressed Sparse Column format>

In [23]:

df_nodes =

In [24]:
df

        source  target
0          175       0
1          232       0
2          282       0
3          370       0
4          393       0
...        ...     ...
667961   10304   10310
667962    5264   10311
667963    9732   10311
667964    9987   10311
667965   10012   10311

[667966 rows x 2 columns]

In [7]:
ls

 ドライブ C のボリューム ラベルは Local Disk です
 ボリューム シリアル番号は F632-C79B です

 C:\users\rh\desktop\data\original_format のディレクトリ

08/11/2023  07:34 PM    <DIR>          .
08/11/2023  07:34 PM    <DIR>          ..
03/04/2021  05:45 AM         1,255,783 blogcatalog.mat
               1 個のファイル           1,255,783 バイト
               2 個のディレクトリ  590,267,727,872 バイトの空き領域