# Bow-tie structure

In [2]:
# From the repository
from util import *
from read_data import *
data_names = list(name2file_name.keys())
print(data_names)

# Basic modules
import os
import glob
import networkx as nx
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#name = "wiod2016"
name = data_names[3]
print("We are going to use: " + name)

['blogcatalog', 'homosapiens', 'wikipos', 'enron', 'unvote', 'untrade', 'uslegis_net', 'uslegis_net_small_dyn', 'uslegis_net_dyn', 'uslegis_hyp_dyn', 'contacts', 'dawn_net', 'dawn_hyp', 'ndc_net', 'ndc_hyp', 'coauth_dblp_net', 'coauth_dblp_hyp', 'wiod2016', 'wiod2013', 'wiodlong', 'eth', 'bitcoinalpha', 'bitcoinotc', 'uscourt']
We are going to use: enron

In [3]:
# Enable original_format to use the format as originally provided
data_dict = get_data(name,original_format=False)
data_dict.keys()

dict_keys(['df_edges'])

In [4]:
#df_nodes = data_dict["df_nodes"]
df_edges = data_dict["df_edges"]

In [10]:
df_edges[["source","target"]]

         index  source  target    timestamp
0            1     115     170          0.0
1            2     115     170          0.0
2            3     115     124     529920.0
3            4     115     124     529920.0
4            5     115     124     533820.0
...        ...     ...     ...          ...
125230  125231      18      18  113717323.0
125231  125232     163      18  113733034.0
125232  125233     163     156  113733034.0
125233  125234     163     166  113733034.0
125234  125235      18      18  113740399.0

[125235 rows x 4 columns]

In [ ]:
cd ./import/bow-tie_detection-master/

In [8]:
# This is from https://github.com/jeroenvldj/bow-tie_detection
from bowtie_detection import get_bowtie_components

In [7]:
%%time
G = nx.from_pandas_edgelist(df_edges,source='source',target='target', edge_attr=None, 
                        create_using=nx.DiGraph())
res = get_bowtie_components(G)
agg = 0
print("SCC,IN,OUT,IN_TENDRIL,OUT_TENDRIL,TUBE,OTHER")
for i in range(7):
    print(len(res[i]))
    agg += len(res[i])
print("total: " + str(agg))
print(len(df_edges))

SCC,IN,OUT,IN_TENDRIL,OUT_TENDRIL,TUBE,OTHER
174
1
7
0
0
0
2
total: 184
125235
CPU times: user 341 ms, sys: 5.87 ms, total: 347 ms
Wall time: 345 ms